<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-card>
      <!--<ion-img src="/assets/shapes.svg"></ion-img>-->
      <ion-card-header>
        <ion-card-subtitle>Welcome to our News App</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>
          Enjoy the latest news from TechCrunch. 
        </p>
        <ion-spinner *ngIf="!articles" name="dots"></ion-spinner>
      </ion-card-content>
    </ion-card>

        <ion-card *ngFor="let article of articles">
          <ion-img src="{{article.urlToImage}}"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>{{article.title}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>
              {{article.description}}
            </p>
            <ion-button ion-button fill="outline" href="{{article.url}}" large>Read full article</ion-button>

          </ion-card-content>
        </ion-card>

</ion-content>
